<%- include('header'); -%>


  <!-- ============  main section  ============= -->
  <div class="page">
    <h1><span>-</span>about us<span>-</span></h1>
 </div>
 <div class="caption">
    <h3> About me:-</h3>
    <p>Ammirbazaar is a blog dedicated to Photoshop. We provide high-quality tutorials to all level of Photoshop users. Apart from tutorials we are also focused on providing presets, actions to photographers. We know you expect great products for editing. That’s why at Ammir Bazaar, our exceptionally crafted photography tools have been created to cut your editing time drastically. Our passion is saving you time, and making your job easier, so you can balance your busy schedule.At Ammir Bazaar, we equip your business to succeed with our unparalleled Lightroom Presets.</p>
    <br>
    <br>
    <h3>why we started:-</h3>
    <p>We know your time is valuable. That’s why we’re here to help!  Being wives and mothers to young children means our time is valuable, too. When our families are home, we want to be able to spend quality time with them, not sitting at the computer editing photos Our goal is to serve the growing community of new and professional photographers who are looking to create beautiful, unique images, in their own signature style. If you have a need that we’re not meeting, let us know. </p>
 </div>
    <br>
    <br>
<!-- ============ main  section end ============= -->


<%- include('footer'); -%>