    <!-- ============ footer section============= -->
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>info</h4>
              <ul>
                <li><a href="/about" target="_blank">about us</a></li>
                <li><a href="/return">return & cancellation policy</a></li>
                <li><a href="/privacy" target="_blank">privacy policy</a></li>
                <li><a href="/terms" target="_blank">terms & conditions</a></li>
                <li><a href="/shipping"target="_blank">shipping & delievry</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>contact us</h4>
              <ul>
                <li><a href="#"><i class="fa-solid fa-house"></i> random place</li>
                  <li><a href="#"><i class="fa-solid fa-phone"></i> +91 xxxxxxxxxx </a></li>
                  <li><a href="#"><i class="fa-sharp fa-solid fa-envelopes-bulk"></i> dummyemail@gmail.com</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4 class="pay">please share this</h4>
              <div class="social-links">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="footer-col">
              <h4 class="pay">pay</h4>
              <img src="img/payment.png">
            </div>
          </div>
        </div>
      </footer>
      <div class="copyright"> 
        <h5>Copyright &#169;  2023 - Ammir Bazaar | all right reserve </h5>
      </div>

      <!-- ============ footer section end============= -->
    
  <script>
    let searchBtn = document.querySelector('.searchBtn');
    let closeBtn = document.querySelector('.closeBtn');
    let searchbox = document.querySelector('.searchbox');
    let navigation = document.querySelector('.navigation');
    let menuToggle = document.querySelector('.menuToggle');
    let header = document.querySelector('header');


      searchBtn.onclick = function(){
      searchbox.classList.add('active');
      closeBtn.classList.add('active');
      searchBtn.classList.add('active');
      menuToggle.classList.add('hide');
      header.classList.remove('open')
    }
    closeBtn.onclick = function(){
      searchbox.classList.remove('active');
      closeBtn.classList.remove('active'); 
      searchBtn.classList.remove('active');
      menuToggle.classList.remove('hide');  
    }
    menuToggle.onclick = function(){
      header.classList.toggle('open');
      searchbox.classList.remove('active');
      closeBtn.classList.remove('active'); 
      searchBtn.classList.remove('active');
    }
  </script>
</body>
</html>
        
        
