<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMMIR BAZAAR</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b12715ab6c.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<body>
    <!-- ============ Header section============= -->
    <div class="offer"><h3>Hurry Up! 92% Off For Today Only<span> &#10084;</span></h3></div>
    <!-- ============ Header section end============= -->
     <!-- ============ Navigation section============= -->
    <header>
      <div class="logo">
      <a href="/">  <img src="img/logo.png"></a>
      </div>
        <div class="group">
          <ul class="navigation">
            <li><a href="/home">home</a></li>
            <li><a href="/about" target="_blank">about us</a></li>
            <li><a href="/presets">presets</a></li>
          </ul>
          <div class="search">
            <span class="icon">
              <ion-icon name="search-outline" class="searchBtn"></ion-icon>
              <ion-icon name="close-outline" class="closeBtn"></ion-icon>
            </span>
          </div>
          <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
        </div>
        <div class="searchbox">
          <input type="text" placeholder="search here ...">
        </div>
    </header>