<%- include('header'); -%>

    <!-- ============ Main  section============= -->
    <section id="main" class="main-container">
        <img src="img/front.jpeg">
    </section>
    <!-- ============ Main  section end============= -->
    <!-- ============ product section ============= -->
    <section class="services" id="services">
        <div class="service-container">
            <div class="p-box">
                <a href="/product"> <img src="img/product.jpg" /> </a>
                 <br>
                 <a href="#">presets</a>
                 <br>
                 <a href="/product" class="a1">9000+ Lightroom Presets + Mega Editing Pack (Free)</a>
                 <br>
                 <h3 class="a2">&#x20B9;<del>9,899</del> &#x20B9;399.00</h3>
                 <br>
                 <a href="/product" class="button">view product</a>
 
 
             </div>


             <div class="p-box">
                <a href="/product"> <img src="img/product.jpg" /> </a>
                 <br>
                 <a href="#">presets</a>
                 <br>
                 <a href="/product" class="a1">9000+ Lightroom Presets + Mega Editing Pack (Free)</a>
                 <br>
                 <h3 class="a2">&#x20B9;<del>9,899</del> &#x20B9;399.00</h3>
                 <br>
                 <a href="/product" class="button">view product</a>
 
 
             </div>


             <div class="p-box">
                <a href="/product"> <img src="img/product.jpg" /> </a>
                 <br>
                 <a href="#">presets</a>
                 <br>
                 <a href="/product" class="a1">9000+ Lightroom Presets + Mega Editing Pack (Free)</a>
                 <br>
                 <h3 class="a2">&#x20B9;<del>9,899</del> &#x20B9;399.00</h3>
                 <br>
                 <a href="/product" class="button">view product</a>
 
 
             </div>
            
        </div>
    </section>
    <!-- ============ product section end============= -->





    <%- include('footer'); -%>