<%- include('header'); -%>
<link rel="stylesheet" href="/product.css">
 <!-- ========================main- product box========================== -->
 <section class="product" id="product">
    <div class="product-img">
      <img src="img/product-img.jpg" />
    </div>
    <div class="product-text">
      <h2>9000+ Lightroom Presets + Mega Editing Pack (Free)</h2>
      <!-- <hr class="line"> --> 
      <br>
      <h2 class="price">&#x20B9;<del>9,899</del> <span>&#x20B9;399.00</span></h2>
      <div class="brief">
        <h3>&#x2713  9000+ Lightroom Presets + Mega Editing Pack</h3>
  
        <h3>&#x2713 2500+ Background Image | 200 + Luts<h3>
        
        <h3>&#x2713 20000 + Font | 400 + Text Pack | 2500 + PNG – For Free</h3>
        
        <h3>&#x2713 Compatible with IOS, Android, Mac & Windows</h3>
        
        <h3>&#x2713 Pay Once And Use Life Time</h3>
        
        <h3>&#x2713 Once Your payment is done you will get link</h3>
      <br>
      <img src="img/z1.png">
    </div>
    <div style="background-color: #28B463; text-align: center; height: 40px; margin-top: 20px;">
    <a style="background-color: #28B463; display: inline-block; color: white; width: 50%; margin-top: 7px;" href="https://rzp.io/l/DBQgE5NyN" role="button">Buy now</a>
  </div>

    </div>
  </section>
 
  <section class="product-decs">
    <div class="p-heading">
      <h1><span>-</span>What You Will Get<span>-</span></h1>
   </div>
   <div class="p-discription">
    <div>
    <p><span>&#x2713</span>  9000+ Lightroom Presets + Mega Editing Pack</p>
    <p><span>&#x2713</span>  2500+ Background Image</p>
    <p><span>&#x2713</span>  200+ Pemium Video Luts</p>
    <p><span>&#x2713</span>  20000+ Pemium Font</p>
    </div>
    <div>
      <p><span>&#x2713</span>  400+ Pemium Text Pack</p>
      <p><span>&#x2713</span>  2500+ PNG Image</p>
      <p><span>&#x2713</span> No Need Any Lightroom Subscription</p>
      <p><span>&#x2713</span>  Pay Once And Use Life Time</p>
    </div>
   </div>
  </section>
  <section class="album">
    <img src="img/img1.jpeg">
    <img src="img/img2.jpeg">
    <img src="img/img3.jpeg">
    <img src="img/img4.jpeg">
    <img src="img/img5.jpeg">
    <img src="img/img6.jpeg">
    <img src="img/img7.jpeg">
    <img src="img/img8.jpeg">
    <img src="img/img9.jpeg">
  <div class="p-img">
    <img src="img/pimg1.jpg">
    <img src="img/pimg2.jpg">
    <img src="img/pimg3.jpg">
    <img src="img/pimg4.jpg">
    <img src="img/pimg5.jpg">
  </div> 
  <div class="mega">
    <h1>Free Editing Mega Pack&#128071;</h1>
    <br>
    <img src="img/fimg1.jpeg">
    <h2> + </h2>
    <img src="img/fimg2.jpg">
    <h2> + </h2>
    <img src="img/fimg3.jpg">
    <h2> + </h2>
    <img src="img/fimg4.jpg">
    <h2> + </h2>
    <img src="img/fimg5.jpg">
    <br>
    <img src="img/fimg6.jpg">
  </div>
  </section>





<%- include('footer'); -%>