<%- include('header'); -%>

 <!-- ============ Main  section============= -->
 <div class="page">
    <h1><span>-</span>Refund and Cancellation Policy<span>-</span></h1>
 </div>
<div class="caption">
    <p>Currently we do not provide return or cancellation policy as it is digital products.</p>
    <br>
    <p>For more info – contact us immediately on abhijeetbharti90@gmail.com</p>
</div>
<!-- ============ main  section end ============= -->




<%- include('footer'); -%>