<%- include('header'); -%>

  <!-- ============  main section  ============= -->
  <div class="page">
    <h1><span>-</span>Shipping & Delivery<span>-</span></h1>
 </div>
 <div class="caption">
    <p>Shipping is not applicable for this website product because we are providing you a digital product.</p>
    <br>
    <br>
    </div>
<!-- ============ main  section end ============= -->




<%- include('footer'); -%>